{% extends 'form-base.html' %} {% block title %} ContactUs - InsureHub {% endblock %}
{% block subtitle %} Let us Contact You {% endblock %}
{% block contactus %}
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone_number.label }}<br>
        {{ form.phone_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.message.label }}<br>
        {{ form.message(class="form-control", rows=10) }}
    </div>
    {{form.submit(class="btn btn-primary")}}
</form>
{% endblock %}