<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to InsureHub</title>
    <link rel="stylesheet" href="../static/css/home-style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="../static/images/logo.png" alt="InsureHub Logo">
            </div>
            <h1>Welcome to InsureHub</h1>
            <nav>
                <ul>
                    <li><a href="#insurances">Insurances</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/sign-up">Sign Up</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#get-quote">Get a Quote</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section id="insurances" class="insurances">
        <div class="container">
            <h2>Insurance Offerings</h2>
            <p>Explore our range of insurance products tailored to your needs:</p>
            <div class="insurances-cont">
                <ul class="policy-list">
                    {% for policy in policies %}
                        <li>{{ policy }}</li>
                    {% endfor %}
                </ul>
            </div>
            </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <p>Have questions or need assistance? Reach out to our customer support team.</p>
            <p> For personalized insurance assistance, reach out to our Client Care Department at <span class="number">082 325 6789.</span>
                We're here to support you every step of the way, ensuring a smooth experience. Don't hesitate to contact us for any inquiries or guidance you may need. </p>
            <a href="mailto:info@insurehub.com" class="btn btn-secondary">Email Us</a>
        </div>
    </section>
    <section id="get-quote" class="get-quote">
        <div class="container">
            <h2>Get a Quote</h2>
            <p>Ready to get started? Get a personalized insurance quote today.</p>
            <a href="/get-quote" class="btn btn-primary">Get Started</a>
        </div>
    </section>
    <footer>
        <div class="container">
            <p>&copy; 2024 IPMS. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
