{% extends 'form-base.html' %} {% block title %} Signup - InsureHub {% endblock %}
{% block subtitle %} Register to InsureHub {% endblock %}
{% block register %}

<form action="" method="POST">

    <!-- {{form.hidden_tag()}} {% if form.username.errors %} {% for error in form.username.errors %}
    <div style="color: red">{{error}}</div>
    {% endfor %} {% endif %} {% if form.password.errors %} {% for error in
    form.password.errors %}
    <div style="color: red">{{error}}</div>
    {% endfor %} {% endif %} -->
    {{form.hidden_tag()}}
    {% if form.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="form-group">
        {{ form.username.label }}: {{ form.username(placeholder="Username", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}: {{ form.password(placeholder="Password", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}: {{ form.confirm_password(placeholder="Confirm Password", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.name.label }}: {{ form.name(placeholder="Name", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.surname.label }}: {{ form.surname(placeholder="Surname", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.id_number.label }}: {{ form.id_number(placeholder="ID Number", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone_number.label }}: {{ form.phone_number(placeholder="Phone Number", class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }}: {{ form.email(placeholder="Email Address", class="form-control") }}
    </div>
    <div class="input-group">
        <div class="form-check">
            {{ form.accept_terms(class="form-check-input") }}
            {{ form.accept_terms.label(class="form-check-label") }}
        </div>
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}