/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    /* margin-left: auto; Center the container */
    padding-right: 15px;
    padding-left: 15px;
}

/* Main Content Styles */
section {
    padding: 45px 0;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #7c3c8d; /* Dark purple */
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #622979; /* Slightly darker purple on hover */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1em;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 300px;
    margin-right: 10px;
}

.insurances {
    text-align: left; 
}

.contact,
.get-quote {
    text-align: left;
}

.btn-email,
.btn-quote {
    display: block;
    margin: 0 auto;
}

.number {
    font-weight: bold;
}

.policy-list {
    list-style-type: none;
    padding: 0;
}

.policy-list li {
    margin-right: 10px; /* Adjust as needed */
}
