/* Nav Bar Styles */
.navbar-brand span {
    font-size: 37px;
}

.navbar {
    background-color: #d7f3fd;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border: 10px;
}

/*  Get a quote styles */
.policy-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}
.policy-container:hover {
    background-color: #f0f0f0;
}
.questionnaire {
    display: none; /* Initially hidden */
    margin-top: 20px;
}
.questionnaire.active {
    display: block; /* Display when active */
}