{% extends 'form-base.html' %} {% block title %} Login - InsureHub {% endblock %}
{% block subtitle %} Login to InsureHub {% endblock %}
{% block login %}
      <!-- action="" -> Submit to current url  -->
      <form method="POST" action="">
        <!-- Hidden input with token as value -->
        <!-- Validations -->
        
        {{form.hidden_tag()}}
        {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <!-- Display fields -->
        <div class="form-group">
          {{form.username.label}}: {{form.username(placeholder="Rashay",
          class="form-control is-invalid")}}
        </div>
        <div class="form-group">
          {{form.password.label}}: {{form.password(placeholder="Password",
          class="form-control")}}
        </div>
        {{form.submit(class="btn btn-primary")}}
      </form>
{% endblock %}